<div class="c-site-header">
  <div class="c-site-header__wrapper">
  
    <div class="c-site-header__logo">
      {{ sprite("icon-logo") }}
    </div>

    <nav class="c-site-header__nav">
      <ul class="o-list-inline">
        <li class="o-list-inline__item"><a href="#">Test</a></li>
        <li class="o-list-inline__item"><a href="#">Test</a></li>
        <li class="o-list-inline__item"><a href="#">Test</a></li>
      </ul>
    </nav>

  </div>
</div>